*{
    margin:1px;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}
.head1{
    text-align: center;
    padding-bottom: 10px;
}
.button{
    font-size: 110%;
    border: none;
    border-radius: 10px;
    width:145px;
    height: 60px;
}

body{
    background-color: cornflowerblue;
}

.mybtn{
    margin-left: 150px;
}

.wrap{
    font-size: 150%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#inputs{
    width: 300px;
    border-radius: 10px;
}

#input-big{
    width:300px;
    height: 200px;
    border-radius: 10px
}